DEBUG=True

# ==== 모드 구분 ====
DJANGO_ENV=dev

# ==== Django ====
DJANGO_SECRET_KEY="django-insecure-"
DJANGO_ALLOWED_HOSTS=

# ==== DB 접속 ====
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

GEMINI_API_KEY=your-gemini-api-key